html, body {
	height: 100%;
	background: #141313;
	background-image: url(images/mainbg.jpg);
	background-position: top center;
	background-repeat: repeat-y;
}

#logo2 {
	background-image: url(images/title.png);
	background-position: top;
	width: 830px;
	height: 120px;
	display: inline-block;
	margin-top: 20px;
}

#bg1 {
	background-image: url(images/home1.webp);
	background-position: top center;
	background-repeat: no-repeat;
	height: 900px;
	margin-top: -100px;
}

#spacer {
	height: 100px;
}