/* body styling */
body {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

#bg0 {
	background: #141313;
	background-image: url(images/mainbg.jpg);
	background-position: top center;
	background-repeat: repeat-y;
}

/* header */
#logo1 {
	background-image: url(images/tf2_logo.png);
	background-position: top;
	width: 300px;
	height: 75px;
	display: inline-block;
	margin-top: 40px;
	outline: 0;
}

#logo1:hover {
	background-position: bottom;
}

#logo3 {
	background-image: url(images/subtitle.png);
	background-position: top;
	width: 840px;
	height: 87px;
	display: inline-block;
	margin-top: 20px;
}

#button1 {
	background-image: url(images/btn_tactics.png);
	background-position: top;
	width: 250px;
	height: 65px;
	display: inline-block;
	margin-top: 40px;
	outline: 0;
}

#button1:hover {
	background-position: bottom;
}

#button2 {
	background-image: url(images/btn_gear.png);
	background-position: top;
	width: 250px;
	height: 65px;
	display: inline-block;
	margin-top: 40px;
	outline: 0;
}

#button2:hover {
	background-position: bottom;
}

#button3 {
	background-image: url(images/btn_war.png);
	background-position: top;
	width: 250px;
	height: 65px;
	display: inline-block;
	margin-top: 40px;
	outline: 0;
}

#button3:hover {
	background-position: bottom;
}

#button4 {
	background-image: url(images/btn_notes.png);
	background-position: top;
	width: 250px;
	height: 65px;
	display: inline-block;
	outline: 0;
}

#button4:hover {
	background-position: bottom;
}

#button5 {
	background-image: url(images/btn_credits.png);
	background-position: top;
	width: 250px;
	height: 65px;
	display: inline-block;
	outline: 0;
}

#button5:hover {
	background-position: bottom;
}

.fadein1 {
	animation: fadein1 .75s;
}

@keyframes fadein1{
	0% {
		opacity:0
	}
	20% {
		opacity:0
	}
	100% {
		opacity:1
	}
}

.fadein2 {
	animation: fadein2 1.5s;
}

@keyframes fadein2{
	0% {
		opacity:0
	}
	40% {
		opacity:0
	}
	100% {
		opacity:1
	}
}

.fadein3 {
	animation: fadein3 2s;
}

@keyframes fadein3{
	0% {
		opacity:0
	}
	40% {
		opacity:0
	}
	100% {
		opacity:1
	}
}

.fadein4 {
	animation: fadein4 2s;
}

@keyframes fadein4{
	0% {
		opacity:0
	}
	50% {
		opacity:0
	}
	100% {
		opacity:1
	}
}

#footer {
	background-image: url(images/footer.png);
	width: 100%;
	height: 200px;
}

#footercontent {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:900px;
	height: 200px;
}

#footerlogo {
	background-image: url(images/valve_logo.png);
	background-position: top center;
	background-repeat: no-repeat;
	width: 105px;
	height: 35px;
	display:block;
	position:absolute;
	top: 125px;
	left: 15px;
	outline: 0;
}

#footerlogo:hover {
	background-position: bottom;
}

#footertext {
	width: 750px;
	height: 50px;
	display:block;
	position:absolute;
	top: 120px;
	left: 135px;
	color: #7C7C7C;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#footerbottom {
	background-image: url(images/footer_reverse.png);
	width: 100%;
	height: 100px;
	z-index: 20;
	display: inline-block;
	position: relative;
}

#bordertop {
	background-image: url(images/border_top.png);
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 333px;
	margin-top: -73px;
	z-index: 20;
    position: absolute;
	pointer-events: none;
}

#borderbottom {
	background-image: url(images/border_bottom.png);
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 301px;
	margin-top: -298px;
	z-index: 20;
    position: absolute;
	pointer-events: none;
}

#bobabutton {
	background-image: url(images/boba_button.png);
	background-position: top center;
	background-repeat: no-repeat;
	position: absolute;
	display:inline-block;
	width: 16px;
	height: 16px;
	outline: 0;
	background-size: 16px;
	margin-top: -3px;
}

#bobabutton:hover {
	background-position: bottom;
}