@font-face {
  font-family: 'TF2secondary';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../TF2secondary.woff2) format('woff2');
}

#footerend {
	background: #000000;
	min-height: calc(100vh - 3943px);
}

#logo2 {
	background-image: url(../images/title.png);
	background-position: top;
	width: 830px;
	height: 120px;
	display: inline-block;
	margin-top: 20px;
	outline: 0;
}

#logo2:hover {
	background-position: bottom;
}

#bg1 {
	background-image: url(images/gear1.png);
	background-position: top center;
	background-repeat: no-repeat;
	height: 945px;
	margin-top: 80px;
}

#content1 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 945px;
}

#text1 {
	display: block;
	position: absolute;
	font-family: TF2Secondary, sans-serif;
	font-size: 20px;
	color: #F7CDCE;
	text-shadow: 0 2px 2px #000000;
	width: 340px;
	height: 100px;
	left: 65px;
	top: 695px;
	text-align: center;
	z-index: 30;
}
	
#bg2 {
	background-image: url(images/gear2.png);
	background-position: top center;
	background-repeat: no-repeat;
	height: 658px;
}

#content2 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 658px;
}

#text2 {
	display: block;
	position: absolute;
	font-family: TF2Secondary, sans-serif;
	font-size: 20px;
	color: #F7CDCE;
	text-shadow: 0 2px 2px #000000;
	width: 300px;
	height: 130px;
	left: 550px;
	top: 140px;
	text-align: center;
	z-index: 30;
}

#text3 {
	display: block;
	position: absolute;
	font-family: TF2Secondary, sans-serif;
	font-size: 20px;
	color: #F7CDCE;
	text-shadow: 0 2px 2px #000000;
	width: 325px;
	height: 175px;
	left: 95px;
	top: 435px;
	text-align: center;
	z-index: 30;
}

#balloonicorn {
	background-image: url(images/balloonicorn.png);
	background-position: top center;
	background-repeat: no-repeat;
	left: 781px;
	top: 583px;
	position: absolute;
	display: block;
	width: 53px;
	height: 73px;
	outline: 0;
}

#balloonicorn:hover {
	background-position: bottom;
}

#bg3 {
	background-image: url(images/gear3.png);
	background-position: top center;
	background-repeat: no-repeat;
	height: 928px;
}

#content3 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 928px;
}

#text4 {
	display: block;
	position: absolute;
	font-family: TF2Secondary, sans-serif;
	font-size: 20px;
	color: #F7CDCE;
	text-shadow: 0 2px 2px #000000;
	width: 360px;
	height: 150px;
	left: 495px;
	top: 230px;
	text-align: center;
	z-index: 30;
}

#text5 {
	display: block;
	position: absolute;
	font-family: TF2Secondary, sans-serif;
	font-size: 20px;
	color: #F7CDCE;
	text-shadow: 0 2px 2px #000000;
	width: 330px;
	height: 220px;
	left: 40px;
	top: 510px;
	text-align: center;
	z-index: 30;
}

#borderloop {
	background-image: url(../images/border_loop.png);
	background-position: top center;
	background-repeat: repeat-y;
	width: 100%;
	height: 1973px;
	margin-top: 260px;
	z-index: 20;
    position: absolute;
	pointer-events: none;
}

#bg4 {
	background-image: url(../images/contracker_overlay.png);
	background-position: top center;
	background-repeat: no-repeat;
    position: absolute;
	width: 100%;
	height: 609px;
	margin-top: -610px;
	z-index: 30;
	pointer-events: none;
}

#content4 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 818px;
	height: 580px;
}

#gear_slider {
	width: 818px;
	height: 460px;
	z-index: 20;
	position: absolute;
	user-select: none;
	-webkit-touch-callout: none; /* ios */
	-webkit-user-select: none; /* safari */
	-moz-user-select: none; /* mobile firefox */
	-ms-user-select: none; /* ie/edge */
}

#gear_slider_prev {
	background-image: url(../images/button_prev.png);
	background-position: top center;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 40;
	width: 105px;
	height: 60px;
	margin-top: 476px;
	margin-left: 5px;
}

#gear_slider_prev:hover {
	background-position: bottom;
}

#gear_slider_next {
	background-image: url(../images/button_next.png);
	background-position: top center;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 40;
	width: 105px;
	height: 60px;
	margin-top: 476px;
	margin-left: 132px;
}

#gear_slider_next:hover {
	background-position: bottom;
}

.slidercontrols {
	cursor: pointer;
}